* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
}
body {
  position: relative;
}
.my-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  position: absolute;
  top: 150px;
  left: 500px;
}
.my-form input {
  margin: 10px;
  border: 1px solid black;
}
.checkbox {
  display: flex;
  align-items: center;
}
fieldset {
  background-color: rgba(255, 0, 255, 0.08);
}
.name,
.email {
  width: 90%;
}
.inputEmail:valid {
  border: 4px solid green;
  border-radius: 50%;
  width: 100%;
}
.inputEmail:invalid {
  border: 4px solid red;
  border-radius: 0%;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  background-color: rgb(211, 101, 89);

  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: larger;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
a {
  font-family: "Pacifico", cursive;
}

.navList {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.openModal {
  padding: 20px 40px;
  font-size: 50px;
  font-weight: 900;
  background-color: rgb(211, 101, 89);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Pacifico", cursive;
}
.close {
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  border: 1px solid black;
  border-radius: 25%;
}
.btn {
  padding: 10px 20px;
  border-radius: 25px;
}
.text-area {
  height: 100px;
  width: 100%;
}
.modal-title {
  padding-bottom: 15px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(211, 101, 89);
  text-align: center;
  padding: 10px;
  width: 25vw;
  margin: auto;
  border-radius: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(211, 101, 89, 0.334);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.842);
}
.hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 2px;
}
@media (max-width: 450px) {
  .hamburger {
    display: flex;
    order: 1;
  }
  .navList {
    display: none;
  }
  .modal-content {
    width: 90vw;
  }
}
.navList.open {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  right: 5px;
  top: 40px;
  background-color: rgb(220, 110, 98);
  border-radius: 10px;
  border: 1px solid black;
}
